<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config></context:annotation-config>
    <context:component-scan base-package="com.ciq"></context:component-scan>
	<!-- <bean id="creditCardDAO" class="com.ciq.dao.CreditCardDAOImpl"></bean>

	<bean id="debitCardDAO" class="com.ciq.dao.DebitCardDAOImpl"></bean>

	<bean id="cardService" class="com.ciq.service.CardServiceImpl">
		<property name="creditCardDAO" ref="creditCardDAO"></property>
		<property name="debitCardDAO" ref="debitCardDAO"></property>
	</bean> -->
	
	
</beans>
