<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.ciq.bean.AddressBean">
    	<property name="aid" value="10101"></property>
    	<property name="aloc" value="SKLM"></property>
    </bean>

	<bean id="employee" class="com.ciq.bean.EmployeeBean">
		<property name="eid" value="1001"></property>
		<property name="ename" value="Balaji"></property>
		<property name="addressBean" ref="address"></property>
	</bean>

</beans>
